	<nav class="navbar navbar-inverse bg-inverse">
		<div class="col-sm-2">
			<a href="/home" class="navbar-brand-home" id="brand-text">Stock Tracker</a>
		</div>
		<div class="col-sm-8"></div>
		<div class="col-sm-2" id="navbarSupportedContent" >
			<span class="navbar-text">
				<!-- Reference: http://www.iconarchive.com/show/ios7-style-icons-by-matiasam/Stock-icon.html -->
				<image src="resources\stock-icon-32.png" height="20" width="20" /> {{username}}
			</span>
			<span>
				<li class="nav-item dropdown navbar-dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item log-out-link nav-link" href="/logout">Logout</a>
					</div>
				</li>
			</span>
		</div>
	</nav>
	
	<div class="container-fluid home-content">  
		<div class="row" id="main-row">
			
			<div class="col-lg-7 home-col" id="portfolio-col">
				<div id="portfolio-header" class="text-left table-header">
					<span class="table-header-title">
						Portfolio: 
						<!-- menu to select portfolio to view -->
						{{#if pf_list}}
						<form id="select-portfolio-form" name="select-portfolio-form" action="home" method="post">
							<select onChange="this.form.submit()" name="portfolio" id="portfolio">
								{{#each pf_list}}
									{{#ifeq this.portfolio_id ../../selected_portfolio }}
										<option value="{{this.portfolio_id}}" selected>{{this.portfolio_name}}</option>
									{{else}}
										<option value="{{this.portfolio_id}}">{{this.portfolio_name}}</option>
									{{/ifeq}}
								{{/each}}
							</select>
						</form>
						{{else}}
						<span>None</span>
						{{/if}}
					</span>
					<span class="table-header-contents">
						<!-- form to create new portfolio -->
						<form id="new-portfolio-form" name="new-portfolio-form" action="createPortfolio" method="post">
							<label for="new-portfolio-name" id="new-portfolio-label">New Portfolio:</label>
							<input type="text" maxlength="15" name="new-portfolio-name" id="new-portfolio-name" placeholder="Portfolio Name" size="15" required>
							<button type="submit" class="btn btn-primary btn-sm" id="new-portfolio-form-button">Create</button>
						</form>
					</span>
				</div>
				
				<hr/>
				
				<div class="row scroll" id="portfolio-scroll">
					{{#if pf_data}}
					<table class="stock-table" id="portfolio-table">
						<tr>
							<th>Symbol</th>
							<th>Company</th>
							<th># Shares</th>
							<th>Purchase Date</th> 
							<th>Purchase Price</th>
							<th>Current Price</th>
							<th>Order Type</th>
                            <th></th>
							<hr/>
						</tr>
						{{#each pf_data}}
						<tr>
							<td> 
								<!--<a href="chart/{{this.stock_id}}">{{this.symbol}}</a>-->
								<a href="#">{{this.symbol}}</a>
							</td>
							<td>{{this.name}}</td>
							<td>{{this.quantity}}
								<form name="update-quantity-form" id="update-quantity-form" action="updateQuantity" method="post">
									<input type="number" name="update-quantity" id="update-quantity" min="1" placeholder="Quantity" required>
									<input type="hidden" value="{{this.order_id}}" name="update-quantity-order-id">
									<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form>
							</td>
							<td>{{this.purchase_date}}</td>
							<td>{{this.purchase_price}}</td>
							<td>{{this.current_price}}</td>
							<td>{{this.order_type}}</td>
                            <td>
                                <!-- form with button to delete stock from watchlist -->
                                <form action="deleteOrder" method="POST" id="delete-order-{{this.order_id}}" name="delete-order">
                                    <input type="hidden" value="{{this.order_id}}" name="delete-order-id" class="watchlist-delete-btn">
                                    <button type="submit" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </form>
                            </td>
						</tr>
						{{/each}}
					</table>
					{{else}}
					<span>Empty Portfolio</span>
					{{/if}}
				</div>
				
				<hr/>

                		{{#if pf_list}}
				<div class="row portfolio-buttons">
					<!-- form to submit new stock order -->
					<form id="new-order-form" class="portfolio-form" name="new-order-form" action="submitOrder" method="post">
						<input type="hidden" value="portfolio_id" name="" />
						<label for="new-order-symbol">Symbol:</label>
						<input type="text" name="new-order-symbol" id="new-order-symbol" placeholder="" maxlength="5" size="6" required>
						<label for="new-order-quantity"># Shares:</label>	 
						<input type="number" name="new-order-quantity" id="new-order-quantity" placeholder="" min="1" required>
						<label for="new-order-type">Order Type</label>
						{{#if order_type_list}}
						<select name="new-order-type" id="new-order-type">
							{{#each order_type_list}}
							<option value="{{this.order_type_id}}" name="{{this.order_type_name}}">{{this.order_type_name}}</option>
							{{/each}}
						</select>
						{{/if}}
						<button type="submit" class="btn btn-primary btn-sm">Submit Order</button>
					</form>
				</div>
				<hr/>
				<div class="row portfolio-buttons">
					<form id="new-order-type-form" class="portfolio-form" name="new-order-type-form" action="submitOrderType" method="post">
						<label for="new-add-order-type">Add Order Type:</label>
						<input type="text" name="new-add-order-type" id="new-add-order-type" placeholder="" maxlength="20" size="14" required>
						<button type="submit" class="btn btn-primary btn-sm">Add Order Type</button>
					</form>
				</div>
                		{{/if}}

			</div>
		
	
			<div class="col-lg-5 home-col" id="watchlist-col">
				<div id="watchlist-header" class="text-left table-header">
					<span class="table-header-title">
						Watchlist
					</span>
					<span class="table-header-contents">
						<!-- form to add new stock to watchlist -->
						<form id="add-watchlist-form" name="add-watchlist-form" action="addStock" method="post">
							<label for="new-watchlist-stock">Add Stock:</label>
							<input type="text" name="new-watchlist-stock" id="new-watchlist-stock" maxlength="5" size="6" placeholder="Symbol">
							<button type="submit" class="btn btn-primary btn-sm">Add</button>
						</form>

                        <br>

						{{#if sector_names}}
						<form action="home" method="POST" id="filter-watchlist-form" name="filter-watchlist-form">
							<label for="filterWatchlistMenu">Filter by Sector:</label>
							<select onChange="this.form.submit()" name="filterWatchlistMenu" id="filterWatchlistMenu">
                                				{{#each sector_names}}
									{{#ifeq this.sector_id ../../filter_sector}}
										<option value="{{this.sector_id}}" selected>{{this.sector_name}}</option>
									{{else}}
										<option value="{{this.sector_id}}">{{this.sector_name}}</option>
									{{/ifeq}}
                                				{{/each}}
							</select>
						</form>
						{{/if}}
					</span>
				</div>
				
				<hr/>
				
				<div class="row scroll align-items-center justify-content-center" id="watchlist-scroll">
					{{#if wl_data}}
					<table class="stock-table" id="watchlist-table">
						<tr>
							<th>Symbol</th>
							<th>Company</th>
							<th>Current Price</th>
							<th>% Change</th>
							<th>Time</th>
							<th></th>
						</tr>
						{{#each wl_data}}
						<tr>
							<td>
								<a href="#">{{this.symbol}}</a>
							</td>
							<td>{{this.name}}</td>
							<td>{{this.price}}</td>
							{{#ifgr this.percentage_change 0}}
							<td class="font-green">{{this.percentage_change}}%</td>
							{{/ifgr}}
							{{#iflt this.percentage_change 0}}
							<td class="font-red">{{this.percentage_change}}%</td>
							{{/iflt}}
							{{#ifeq this.percentage_change 0}}
							<td class="font-black">{{this.percentage_change}}%</td>
							{{/ifeq}}
							<td>
								<span>{{this.timestamp}}
								<!-- form with button to delete stock from watchlist -->
								<form action="deleteStock" method="POST" id="delete-from-watchlist-{{this.stock_id}}" name="delete-from-watchlist">
									<input type="hidden" value="{{this.stock_id}}" name="delete-stock-id" class="watchlist-delete-btn">
									<button type="submit" class="close" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</form>
								</span>
							</td>
						</tr>
						{{/each}}
					</table>
					{{else}}
					<span>Empty Watchlist</span>
					{{/if}}
				</div>
				<div class="row portfolio-buttons">
					<form id="new-sector-form" class="portfolio-form" name="new-sector-form" action="submitSector" method="post">
						<label for="new-sector-type">Add Sector:</label>
						<input type="text" name="new-sector-type" id="new-sector-type" placeholder="" maxlength="20" size="14" required>
						<button type="submit" class="btn btn-primary btn-sm">Add Sector</button>
					</form>
				</div>
			</div>
		</div>
	</div>

<!-- Navbar scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
